{loop type="category" name="home_categories" visible="1" limit="5"}

{ifloop rel="product_new"}
<section class="my-lg-14 my-8">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6">
                {* <h3 class="mb-0">
                    {intl l="Latest" d="hookproductsnew.fo.default"} <a href="{url path="/view_all"  type="new"}" class="btn-all">{intl l="+ View All" d="hookproductsnew.fo.default"}</a></h3>*}
                <h3 class="text-lg">{$TITLE} <a href="{viewurl view="category" category_id=$ID}" class="btn-all">{intl l="+ View All" d="hookproductsnew.fo.default"}</a></h3>
            </div>
        </div>

        <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
            {loop name="product_new" type="product" category=$ID limit="10" new="yes"}
            <div class="col">
                <div class="card card-product">
                    <div class="card-body">
                        <div class="text-center position-relative">
                            {$product_id=$ID}
                            {loop name="brand.feature" type="feature" product="{$ID}" title="brand"}
                            {loop name="brand.value" type="feature_value" feature="{$ID}" product="$product_id"}
                            <meta itemprop="brand" content="{$TITLE}">
                            {/loop}
                            {/loop}
                            {loop name="brand.feature" type="feature" product=$ID title="isbn"}
                            {loop name="brand.value" type="feature_value" feature=$ID product=$product_id}
                            <meta itemprop="productID" content="isbn:{$TITLE}">
                            {/loop}
                            {/loop}
                            {if $IS_PROMO}
                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg-danger">{intl l="Sale" d="hookproductsoffer.fo.default"}</span>
                            </div>
                            {/if}
                            <a href="{$URL}" itemprop="url" tabindex="-1" class="product-image overlay">
                                {ifloop rel="image_product_new" }
                                <img itemprop="image" class="mb-3 img-fluid"
                                {loop name="image_product_new" type="image" limit="1" product="{$ID}" force_return="true" width="280" height="196" resize_mode="borders"}
                                src="{$IMAGE_URL}"
                                {/loop}
                                alt="Product #{$LOOP_COUNT}" >
                                {/ifloop}
                                {elseloop rel="image_product_new"}
                                <img itemprop="image" class="mb-3 img-fluid" src="{image file='assets/dist/img/280x196.png'}" alt="Product #{$LOOP_COUNT}">
                                {/elseloop}
                            </a>
                            <div class="card-product-action">
                                <a href="#!" class="btn-action" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal">
                                    <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true"
                                        aria-label="Quick View" data-bs-original-title="Quick View"></i>
                                </a>
                                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                    aria-label="Wishlist" data-bs-original-title="Wishlist"><i
                                        class="bi bi-heart"></i></a>
                                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                    aria-label="Compare" data-bs-original-title="Compare"><i
                                        class="bi bi-arrow-left-right"></i></a>
                            </div>
                        </div>
                        <div class="text-small mb-1">
                            <a href="{url path="/catalog"}" class="text-decoration-none text-muted"><small>{$DEFAULT_CATEGORY_TITLE}</small></a>
                        </div>
                        <h2 class="fs-6">
                            <a href="{$URL}" class="text-inherit text-decoration-none">{$TITLE}</a>
                        </h2>
                        <div>
                            <small class="text-warning">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </small>
                            <span class="text-muted small">4.5(149)</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div>
                                {if $IS_PROMO}
                                <span class="text-dark">{format_money number=$PROMO_PRICE}</span>
                                <span class="text-decoration-line-through text-muted">{format_money number=$PRICE}</span>
                                {else}
                                <span class="text-dark">{format_money number=$PRICE}</span>
                                {/if}
                            </div>
                            <div>
                                <a href="{$URL}" class="btn btn-primary btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/loop}
        </div>
    </div>
</section>
<!-- #products-new -->
{/ifloop}
{/loop}
