<div class="col-xxl-6 col-xl-5 col-lg-6 col-md-9">
    <form action="{url path="/search"}" method="get" role="search">
        <div class="input-group">
            <input type="search" name="q" id="q" placeholder="{intl l="Search..."
                d="hooksearch.fo.default" }" class="form-control" autocomplete="off" aria-required="true" required
                pattern=".{ldelim}2,{rdelim}" title="{intl l="Minimum 2 characters." d="hooksearch.fo.default" }">
            <button class="btn btn-primary"  type="submit" id="button-addon2" value="{intl l="Search"
                d="hooksearch.fo.default"}">{intl l="Search"
                d="hooksearch.fo.default"}</button>
        </div>
    </form>
</div>
