<section class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bootstrap-tabs product-tabs">
                    <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                        <h3>Trending Products</h3>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a href="#" class="nav-link text-uppercase fs-6 active" id="nav-all-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-all">
                                    All
                                </a>
                                {loop type="category" name="category_for_trending" parent="0"}
                                <a href="#" class="nav-link text-uppercase fs-6"
                                    id="nav-{$TITLE|replace:' ':'-'}-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-{$TITLE|replace:' ':'-'}">
                                    {$TITLE}
                                </a>
                                {/loop}
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-all" role="tabpanel"
                            aria-labelledby="nav-all-tab">
                            <div
                                class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                {loop type="category" name="category_all_products" parent="0"}
                                {loop type="product" name="product_all_trending" category="{$ID}" limit="10"}
                                {include file="includes/single-product.html" product_id=$ID}
                                {/loop}
                                {/loop}
                            </div>
                            <!-- / product-grid -->

                        </div>
                        {loop type="category" name="category_products" parent="0"}
                        <div class="tab-pane fade" id="nav-{$TITLE|replace:' ':'-'}" role="tabpanel"
                            aria-labelledby="nav-{$TITLE|replace:' ':'-'}-tab">
                            <div
                                class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                {loop type="product" name="product_trending" category="{$ID}" limit="10"}
                                {include file="includes/single-product.html" product_id=$ID}
                                {/loop}

                            </div>
                            <!-- / product-grid -->

                        </div>
                        {/loop}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
