{extends file="layout.tpl"}

{* Body Class *}
{block name="body-class"}page-404{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
    ['title' => {intl l="404"}, 'url'=>{url path="/404"}]
    ]}
{/block}

{block name="main-content"}
<section class="py-5 my-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="card border-0 shadow-sm p-4 p-lg-5 rounded-4 text-center">
                    <article role="main" aria-labelledby="main-label">
                        {ifhook rel="404.content"}
                            {hook name="404.content"}
                        {/ifhook}
                        {elsehook rel="404.content"}
                        <div class="display-1 mb-3 text-danger">404</div>
                        <h1 id="main-label" class="page-header mb-4 section-title">{intl l="The page cannot be found"}</h1>
                        <div class="alert alert-warning">
                            {intl l="The page you are looking for doesn't exist."}
                        </div>
                        <a href="{url path="/"}" class="btn btn-dark btn-lg mt-3">
                            <svg width="20" height="20" class="me-2">
                                <use xlink:href="#home"></use>
                            </svg>
                            {intl l="Back to homepage"}
                        </a>
                        {/elsehook}
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}

{block name="stylesheet"}
{hook name="404.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="404.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="404.javascript-initialization"}
{/block}
