{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Body Class *}
{block name="body-class"}page-address{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
        ['title' => {intl l="Account"}, 'url'=>{url path="/account"}],
        ['title' => {intl l="Add a new address"}, 'url'=>{url path="/address/create"}]
    ]}
{/block}

{block name="main-content"}
<section class="py-5 my-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <div class="card border-0 shadow-sm p-4 p-lg-5 rounded-4">
                    <article role="main" aria-labelledby="main-label">
                        <h1 id="main-label" class="page-header mb-4 text-center section-title">{intl l="Create New Address"}</h1>

                        {hook name="address-create.top"}

                        {form name="thelia.front.address.create"}
                        <form id="form-address" class="needs-validation" novalidate action="{url path="/address/create"}" method="post">
                            {form_field field='success_url'}
                                {if $value}
                                {$next_url=$value}
                                {else}
                                {$next_url=$smarty.get.next|default:{url path="/account"}}
                                {/if}
                                <input type="hidden" name="{$name}" value="{$next_url nofilter}" />
                            {/form_field}

                            {form_field field='error_message'}
                                <input type="hidden" name="{$name}" value="{intl l="missing or invalid data"}" />
                            {/form_field}
                            {form_hidden_fields}
                            {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

                            {hook name="address-create.form-top"}

                            <div class="row g-4">
                                {form_field field="label"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" minlength="2" maxlength="255" placeholder="{intl l="Placeholder address label"}"{if $required} aria-required="true" required{/if}{if !$value || $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {elseif !$value}
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="title"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <select name="{$name}" id="{$label_attr.for}" class="form-select{IF $error} is-invalid{/IF}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                        <option value="">-- {intl l="Select Title"} --</option>
                                        {loop type="title" name="title.list"}
                                            <option value="{$ID}" {if $value == $ID}selected{/if} >{$LONG}</option>
                                        {/loop}
                                    </select>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="firstname"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" maxlength="255" placeholder="{intl l="Placeholder firstname"}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="lastname"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" maxlength="255" placeholder="{intl l="Placeholder lastname"}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="company"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" maxlength="255" placeholder="{intl l="Placeholder company"}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="address1"}
                                <div class="col-12">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" maxlength="255" placeholder="{intl l="Placeholder address1"}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="address2"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" maxlength="255" placeholder="{intl l="Placeholder address2"}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="zipcode"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" maxlength="10" placeholder="{intl l="Placeholder zipcode"}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="city"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" maxlength="255" placeholder="{intl l="Placeholder city"}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="country"}
                                {assign var="customer_country_id" value={$value|default:$COUNTRY}}
                                {$countryFieldId=$label_attr.for}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <select name="{$name}" id="{$label_attr.for}" class="form-select{IF $error} is-invalid{/IF}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                        <option value="">-- {intl l="Select Country"} --</option>
                                        {loop type="country" name="country.list"}
                                            <option value="{$ID}" {if $value == $ID}selected{/if} >{$TITLE}</option>
                                        {/loop}
                                    </select>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="state"}
                                {assign var="customer_state_id" value={$value|default:$STATE}}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <select name="{$name}" id="{$label_attr.for}"
                                            data-thelia-state="1" data-thelia-country="#{$countryFieldId}" data-thelia-toggle=".group-state"
                                            class="form-select{IF $error} is-invalid{/IF}"{if !isset($error_focus) && $error} autofocus{/if}>
                                        <option value="">-- {intl l="Select State"} --</option>
                                        {loop type="state" name="state.list"}
                                            <option value="{$ID}" data-country="{$COUNTRY}"
                                                    {if $customer_state_id == $ID}selected{/if}
                                            >{$TITLE}</option>
                                        {/loop}
                                    </select>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="phone"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" maxlength="20" placeholder="{intl l="Placeholder phone"}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}

                                {form_field field="cellphone"}
                                <div class="col-md-6">
                                    <label class="form-label" for="{$label_attr.for}">{$label}{if $required} <span class="text-danger">*</span>{/if}</label>
                                    <input type="text" name="{$name}" value="{$value}" id="{$label_attr.for}" class="form-control{IF $error} is-invalid{/IF}" maxlength="20" placeholder="{intl l="Placeholder cellphone"}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <div class="invalid-feedback">{$message}</div>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                                {/form_field}
                            </div>

                            {form_field field="is_default"}
                            <div class="col-12 mt-4">
                                <div class="form-check">
                                    <input type="checkbox" name="{$name}" id="{$label_attr.for}" value="1" class="form-check-input">
                                    <label class="form-check-label" for="{$label_attr.for}">
                                        {$label}
                                    </label>
                                </div>
                            </div>
                            {/form_field}

                            {hook name="address-create.form-bottom"}

                            <div class="col-12 mt-4">
                                <button type="submit" class="btn btn-primary px-4"><i class="fa fa-save me-2"></i> {intl l="Create"}</button>
                            </div>
                        </form>
                        {/form}

                        {hook name="address-create.bottom"}
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}

{block name="stylesheet"}
{hook name="address-create.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="address-create.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="address-create.javascript-initialization"}
{/block}
