{extends file="layout.tpl"}

{block name="init"}
{$errorStock = "FALSE"}
{/block}

{* Body Class *}
{block name="body-class"}{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{$breadcrumbs = [
['title' => {intl l="Cart"}, 'url'=>{url path="/cart"}]
]}
{/block}

{block name="main-content"}
<section class="py-5">
    <div class="container-fluid">
        <div class="row g-5">
            {ifloop rel="cartloop"}
            <div class="col-md-8">

                {include file="misc/checkout-progress.tpl" step="cart"}
                <div id="errorStock" class="alert alert-warning" style="display:none;">{intl l="We apologize but some of
                    the ordered products are not available any more."}</div>
                {hook name="cart.top"}
                <div class="table-responsive cart">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="card-title text-uppercase text-muted">{intl l="Product Name"}
                                </th>
                                <th scope="col" class="card-title text-uppercase text-muted">{intl l="Quantity"}</th>
                                <th scope="col" class="card-title text-uppercase text-muted">{intl l="Total"}</th>
                                <th scope="col" class="card-title text-uppercase text-muted"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop type="cart" name="cartloop"}
                            <tr>
                                <td scope="row" class="py-4">
                                    <div class="cart-info d-flex flex-wrap align-items-center mb-4">
                                        <div class="col-lg-3">
                                            <div class="card-image">
                                                <a href="{$PRODUCT_URL nofilter}" class="img-fluid">
                                                    {assign var="product_image_url" value=null}
                                                    {ifloop rel="pse-first-image"}
                                                    {loop type="product-sale-elements-image" name="pse-first-image"
                                                    product_sale_elements_id=$PRODUCT_SALE_ELEMENTS_ID limit="1"}
                                                    {loop type="image" name="product-image" id=$PRODUCT_IMAGE_ID
                                                    product=$PRODUCT_ID limit="1" width="118" height="85"
                                                    force_return="true"}
                                                    {assign var="product_image_url" value=$IMAGE_URL}
                                                    {/loop}
                                                    {/loop}
                                                    {/ifloop}
                                                    {elseloop rel="pse-first-image"}
                                                    {loop type="image" name="product-image" product=$PRODUCT_ID
                                                    limit="1" width="118" height="85" force_return="true"}
                                                    {assign var="product_image_url" value=$IMAGE_URL}
                                                    {/loop}
                                                    {/elseloop}
                                                    {if $product_image_url}
                                                    <img itemprop="image" src="{$product_image_url nofilter}"
                                                        alt="Product #{$LOOP_COUNT}">
                                                    {else}
                                                    <img itemprop="image"
                                                        src="{image file='assets/dist/img/product/1/118x85.png'}"
                                                        alt="Product #{$LOOP_COUNT}">
                                                    {/if}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="card-detail ps-3">
                                                <h5 class="card-title">
                                                    <a href="{$PRODUCT_URL nofilter}"
                                                        class="text-decoration-none">{$TITLE}</a>
                                                </h5>
                                                <div class="product-options">
                                                    <dl class="dl-horizontal">
                                                        <dt class="stockView">{intl l="Available"} :</dt>
                                                        {if $STOCK > 0}
                                                        <dd>{intl l="In Stock"}</dd>
                                                        {else}
                                                        {$errorStock="TRUE"}
                                                        <dd>{intl l="Out of Stock"}</dd>
                                                        {/if}
                                                        {loop type="product_sale_elements" name="ref"
                                                        id=$PRODUCT_SALE_ELEMENTS_ID}
                                                        <dt class="refView">{intl l="No."}</dt>
                                                        <dd>{$REF}</dd>
                                                        {/loop}
                                                        {loop type="attribute_combination" name="product_options"
                                                        product_sale_elements="$PRODUCT_SALE_ELEMENTS_ID"
                                                        order="manual"}
                                                        <dt class="attributeView">{$ATTRIBUTE_TITLE}</dt>
                                                        <dd>{$ATTRIBUTE_AVAILABILITY_TITLE}</dd>
                                                        {/loop}
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="py-4">
                                    <div class="input-group product-qty w-50">
                                        <form action="{token_url path="/cart/update"}" class="form-inline"
                                            method="post">
                                            <input type="hidden" name="success_url" value="{url path='/cart'}">
                                            <input type="hidden" name="cart_item" value="{$ITEM_ID}">
                                            <div class="form-group">
                                                {if $STOCK <= 500} <select name="quantity" class="form-control">
                                                    {for $will=1 to $STOCK}
                                                    <option {if $QUANTITY==$will}selected="selected"{/if}>
                                                        {$will}
                                                    </option>
                                                    {/for}
                                                    </select>
                                                    {else}
                                                    <span class="input-group-btn">
                                                        <button type="button"
                                                            class="quantity-left-minus btn btn-light btn-number"
                                                            data-type="minus">
                                                            <svg width="16" height="16">
                                                                <use xlink:href="#minus"></use>
                                                            </svg>
                                                        </button>
                                                    </span>
                                                    <input name="quantity" class="form-control" type="number"
                                                        min="1" max="{$STOCK}" value ="{$QUANTITY}">
                                                    <span class="input-group-btn">
                                                        <button type="submit" title="{intl l="Update Quantity"}"
                                                            class="quantity-right-plus btn btn-light btn-number"
                                                            data-type="plus" data-field="">
                                                            <svg width="16" height="16">
                                                                <use xlink:href="#plus"></use>
                                                            </svg>
                                                        </button>
                                                    </span>
                                                    {/if}
                                                    {* {intl l="+"} *}
                                            </div>
                                        </form>

                                    </div>
                                </td>
                                <td class="py-4">
                                    <div class="total-price">
                                        <span class="money text-dark">
                                            {if $IS_PROMO == 1}
                                            {assign "real_price" $PROMO_TAXED_PRICE}
                                            {assign "real_total_price" $TOTAL_PROMO_TAXED_PRICE}
                                            {* <div class="special-price">
                                                <span class="price">
                                                    {format_money number=$PROMO_TAXED_PRICE}
                                                </span>
                                            </div>
                                            <small class="old-price">
                                                {intl l="instead of"}
                                                <span class="price">
                                                    {format_money number=$TAXED_PRICE}
                                                </span>
                                            </small>
                                            *}
                                            {else}
                                            {assign "real_price" $TAXED_PRICE}
                                            {assign "real_total_price" $TOTAL_TAXED_PRICE}
                                            <div class="special-price"><span class="price">
                                                    {format_money number=$TAXED_PRICE}
                                                </span>
                                            </div>
                                            {/if}
                                            {format_money number=$real_total_price}
                                        </span>
                                    </div>
                                </td>
                                <td class="py-4">
                                    <div class="cart-remove">
                                        <a href="{token_url path="/cart/delete/%item_id" item_id=$ITEM_ID
                                            success_url={url path='/cart'}}">{*<i class="fa fa-trash"></i> {intl
                                            l="Remove"} *}
                                            <svg width="24" height="24">
                                                <use xlink:href="#trash"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/loop}
                            {if {cart attr="is_virtual"} != 1}
                            {postage}
                            {assign var="postageAmount" value=$postage }

                            <tr>
                                <td scope="row" class="py-4" colspan="2">
                                    <div class="cart-info d-flex flex-wrap align-items-center mb-4">
                                        <div class="col-lg-12">
                                            <form action="{url path="/cart/country"}" class="form-inline"
                                                method="post">
                                                <h3>
                                                    {intl l="Estimated shipping "}
                                                    {if $is_customizable == false}
                                                    {loop type="country" name="countryLoop" id="$country_id"}
                                                    {intl l="for"} {$TITLE}
                                                    {/loop}
                                                    {/if}
                                                </h3>
                                                {if $is_customizable}
                                                <div>
                                                    <label for="cart-country">{intl l="Select your country:"}</label>
                                                    <select id="cart-country" name="country">
                                                        {loop type="country" name="countryLoop" with_area="true"}
                                                        <option value="{$ID}" {if $ID==$country_id }selected="selected" {/if}>{$TITLE}</option>
                                                        {/loop}
                                                    </select>
                                                    <a class="btn btn-link btn-change-country" href="#"><i
                                                            class="fa fa-refresh"></i> {intl l="update"}</a>
                                                </div>
                                                {/if}
                                                {if $delivery_id != 0 }
                                                <div>
                                                    {intl l="with:"} 
                                                    {loop type="module" name="deliveryLoop" id=$delivery_id}{$TITLE} {/loop}
                                                </div>
                                                {else}
                                                <div class="alert alert-danger">
                                                    {intl l="No deliveries available for this cart and this country"}
                                                </div>
                                                {/if}
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td class="py-4">
                                    <div class="input-group product-qty w-50">
                                        -
                                    </div>
                                </td>
                                <td class="py-4">
                                    <div class="total-price">
                                        <span class="money text-dark">{format_money number=$postage}</span>
                                    </div>
                                </td>

                            </tr>
                            {/postage}
                            {else}
                            {assign var="postageAmount" value=0 }
                            {/if}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-4">
                <div class="cart-totals bg-grey py-5">
                    <h4 class="text-dark pb-4">{intl l="Cart Total"}</h4>
                    <div class="total-price pb-5">
                        <table cellspacing="0" class="table text-uppercase">
                            <tbody>

                                <tr class="subtotal pt-2 pb-2 border-top border-bottom">
                                    {form name="thelia.order.coupon"}
                                    <form id="form-coupon" action="{url path="/order/coupon"}" method="post"
                                        {form_enctype}>
                                        {form_hidden_fields}

                                        {form_field field='success_url'}
                                        <input type="hidden" name="{$name}" value="{url path="/cart"}" />
                                        {/form_field}

                                        {form_field field='error_url'}
                                        <input type="hidden" name="{$name}" value="{url path="/cart"}" />
                                        {/form_field}

                                        {form_field field='coupon-code'}
                                        <div class="{if $form_error}has-error{/if}">
                                            <div class="input-group">
                                                <label class="control-label sr-only" for="code">{intl l='Code
                                                    :'}</label>
                                                <input id="coupon" class="form-control" type="text"
                                                    name="{$name}" value="{$value}"
                                                    placeholder="{intl l='Coupon code'}" required>
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-default">{intl
                                                        l="Ok"}</button>
                                                </span>
                                            </div>
                                            {if $form_error_message}<span class="help-block">{$form_error_message
                                                nofilter}</span>{/if}
                                        </div>
                                        {/form_field}
                                    </form>
                                    {/form}
                                    </td>
                                </tr>

                                {$discount={order attr="discount"}}
                                {if $discount}
                                <tr class="subtotal pt-2 pb-2 border-top border-bottom">
                                    <th>{intl l="Discount"}</th>
                                    <td data-title="Subtotal">
                                        <span class="price-amount amount text-dark ps-5">
                                            <bdi>
                                                {format_money number=$discount}
                                            </bdi>
                                        </span>
                                    </td>
                                </tr>
                                {/if}
                                <tr class="order-total pt-2 pb-2 border-bottom">
                                    <th>{intl l="Total incl. taxes"}</th>
                                    <td data-title="Total">
                                        <span class="price-amount amount text-dark ps-5">
                                            <bdi>
                                                {assign var="totalAmount" value={cart attr='total_taxed_price'} +
                                                $postageAmount }
                                                {format_money number=$totalAmount}
                                            </bdi>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="button-wrap row g-2">
                        {*<div class="col-md-6"><button
                                class="btn btn-dark py-3 px-4 text-uppercase btn-rounded-none w-100">Update
                                Cart</button></div> *}
                        <div class="col-md-6">
                            <a href="{navigate to="index"}" role="button">
                                <button class="btn btn-dark py-3 px-4 text-uppercase btn-rounded-none w-100"> {intl
                                    l="Continue Shopping"}</button>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <a href="{url path="/order/delivery"}">
                                <button class="btn btn-primary py-3 px-4 text-uppercase btn-rounded-none w-100">{intl
                                    l="Proceed checkout"}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {/ifloop}
            {elseloop rel="cartloop"}

                <div class="cart-warning alert alert-warning">
                    <strong>{intl l="Warning"}!</strong> {intl l="You have no items in your shopping cart."}
                </div>
            {/elseloop}
            {hook name="cart.bottom"}


        </div>
    </div>
</section>
{/block}

{block name="after-javascript-include"}
<script>
    $(document).ready(function() {
                $("select[name=quantity]").change(function() {
                    $(this).parents('form').submit();
                });
                $("input[name=quantity]").change(function() {
                    $(this).parents('form').submit();
                });
                $(".btn-change-country").click(function(e) {
                    e.preventDefault();
                    var $form = $(this).parents('form');
                    $form.submit();
                }) {
                    if $errorStock == "TRUE"
                }
                $("#errorStock").show();
                {
                    /if}
                });
</script>
{hook name="cart.after-javascript-include"}
{/block}

{block name="stylesheet"}
{hook name="cart.stylesheet"}
{/block}

{block name="javascript-initialization"}
{hook name="cart.javascript-initialization"}
{/block}
