{extends file="layout.tpl"}

{block name="body-class"}page-search{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{$breadcrumbs = [
['title' => {intl l="Search"}, 'url'=>{url path="/search"}]
]}
{/block}

{block name="main-content"}
<div class="shopify-grid">
    <div class="container-fluid">
        <div class="row g-5">
            {$limit={$smarty.get.limit|default:8}}
            {$product_page={$smarty.get.page|default:1}}
            {$product_order={$smarty.get.order|default:'alpha'}}

            <aside class="col-md-2">
                <div class="sidebar">
                    <div class="widget-menu">
                        <div class="widget-search-bar">
                            <form role="search" method="get" class="d-flex position-relative">

                                <input class="form-control form-control-lg rounded-2 bg-light" type="email"
                                    placeholder="Search here" aria-label="Search here">
                                <button class="btn bg-transparent position-absolute end-0" type="submit"><svg width="24"
                                        height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#search"></use>
                                    </svg></button>
                            </form>

                        </div>
                    </div>
                    <div class="widget-product-categories pt-5">
                        <h5 class="widget-title">Categories</h5>
                        <ul class="product-categories sidebar-list list-unstyled">
                            <li class="cat-item">
                                <a href="/collections/categories">All</a>
                            </li>
                            <li class="cat-item">
                                <a href="#" class="nav-link">Phones</a>
                            </li>
                            <li class="cat-item">
                                <a href="#" class="nav-link">Accessories</a>
                            </li>
                            <li class="cat-item">
                                <a href="#" class="nav-link">Tablets</a>
                            </li>
                            <li class="cat-item">
                                <a href="#" class="nav-link">Watches</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-product-tags pt-3">
                        <h5 class="widget-title">Tags</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="#" class="nav-link">White</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">Cheap</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">Mobile</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">Modern</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-product-brands pt-3">
                        <h5 class="widget-title">Brands</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="#" class="nav-link">Apple</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">Samsung</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">Huwai</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-price-filter pt-3">
                        <h5 class="widget-titlewidget-title">Filter By Price</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="#" class="nav-link">Less than $10</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">$10- $20</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">$20- $30</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">$30- $40</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">$40- $50</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <main class="col-md-10">
                <div class="filter-shop d-flex justify-content-between">
                    <div class="showing-product">
                        <p>{assign var="amount" value={count type="product" title={$smarty.get.q}}}{if
                            ($amount > 1)}{intl l="%nb Items" nb={$amount}}{else}{intl l="%nb Item"
                            nb={$amount}}{/if}</p>
                    </div>
                    {assign var="amount" value={count type="product" title={$smarty.get.q}}}
                    {include file="includes/toolbar.html" toolbar="top" limit=$limit order=$product_order
                    amount={$amount}}
                </div>

                <div class="product-grid row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                    {ifloop rel="product_list"}

                    {loop type="product" name="product_list" title={$smarty.get.q} limit=$limit page=$product_page
                    order=$product_order}
                    {include file="includes/single-product.html" product_id=$ID hasBtn=true hasDescription=true }
                    {/loop}

                    {/ifloop}
                    {elseloop rel="product_list"}
                    <h2 class="text-center">{intl l="No results found"} </h2>
                    {/elseloop}
                </div>
                <!-- / product-grid -->

                {ifloop rel="product_list"}
                {include file="includes/toolbar.html" toolbar="bottom" amount={$amount}}
                {/ifloop}
            </main>

        </div>
    </div>
</div>
{/block}


{block name="stylesheet"}
{hook name="search.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="search.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="search.javascript-initialization"}
{/block}