
<section class="my-lg-14 my-8">
    <div class="container">
        <div class="hero-slider">
            <div class="swiper-container swiper slide" id="swiper-1" data-pagination-type="" data-speed="400"
                data-space-between="100" data-pagination="true" data-navigation="false" data-autoplay="true"
                data-autoplay-delay="3000" data-effect="fade"
                data-breakpoints='{literal}{"480": {"slidesPerView": 1}, "768": {"slidesPerView": 1}, "1024": {"slidesPerView": 1}}{/literal}'>
                <div class="swiper-wrapper pb-8">
                    {loop type="carousel" name="carousel.front" resize_mode="borders"}
                    <div class="swiper-slide"
                        style="background: url({$IMAGE_URL}) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
                        <div class="lg:py-32 p-12 lg:pl-12 xl:w-2/5 md:w-3/5">
                            {if $CHAPO}
                            <span
                                class="badge bg-warning text-dark mb-3">{$CHAPO}</span>
                            {/if}
                            <div class="my-4">
                                {if $TITLE}
                                <h2 class="text-2xl text-md-3xl text-lg-4xl fw-bold mb-3">{$TITLE}</h2>
                                {/if}
                                {if $DESCRIPTION}
                                <p class="text-muted">{$DESCRIPTION nofilter}</p>
                                {/if}
                            </div>
                            {if $URL}
                            <a href="{$URL}"
                                class="btn btn-primary">
                                {intl l="Shop Now" d="fo.electro"}
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-arrow-right ms-2" width="16"
                                    height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l14 0" />
                                    <path d="M13 18l6 -6" />
                                    <path d="M13 6l6 6" />
                                </svg>
                            </a>
                            {/if}
                        </div>
                    </div>
                    {/loop}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-navigation">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Section Start-->
<section class="my-lg-14 my-8">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6">
                <h3 class="mb-0">Featured Categories</h3>
            </div>
        </div>
        <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
            {loop type="category" name="categories" limit="10"}
            <div class="col">
                <a href="{$URL}" class="text-decoration-none text-inherit">
                    <div class="card card-product h-100">
                        <div class="card-body text-center d-flex flex-column justify-content-center py-8">
                            {loop name="category.image" type="image" source="category" source_id=$ID width=100
                            height=100 resize_mode="borders" limit="1"}
                            <img src="{$IMAGE_URL}" alt="{$TITLE}" class="mb-3 img-fluid mx-auto" style="max-width: 80px;">
                            {/loop}
                            <div class="text-truncate">{$TITLE}</div>
                        </div>
                    </div>
                </a>
            </div>
            {/loop}
        </div>
    </div>
</section>
<!-- Category Section End-->

    {* Banners Section *}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-3 mb-lg-0">
        <div>
          <div class="py-10 px-8 rounded" style="background: url({image file='assets/images/banner/grocery-banner.png'}) no-repeat; background-size: cover; background-position: center">
            <div>
              <h3 class="fw-bold mb-1">Fruits &amp; Vegetables</h3>
              <p class="mb-4">
                Get Upto
                <span class="fw-bold">30%</span>
                Off
              </p>
              <a href="{url path='/category'}" class="btn btn-dark">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div>
          <div class="py-10 px-8 rounded" style="background: url({image file='assets/images/banner/grocery-banner-2.jpg'}) no-repeat; background-size: cover; background-position: center">
            <div>
              <h3 class="fw-bold mb-1">Freshly Baked Buns</h3>
              <p class="mb-4">
                Get Upto
                <span class="fw-bold">25%</span>
                Off
              </p>
              <a href="{url path='/category'}" class="btn btn-dark">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>