{ifloop rel="current-sales"}
{loop name="current-sales" type="sale" limit="2"}
<section class="mt-8">
    <div class="container">
        <div class="flex flex-wrap">
            <div class="w-full mb-6">
                <h2 class="text-lg">{$SALE_LABEL} <a href="{url path="/sale" sale=$ID}" class="btn-all">{intl l="+ View All" d="hookproductsoffer.fo.default"}</a></h2>
                <div class="short-description" itemprop="description">{$CHAPO}</div>
            </div>
        </div>
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:gap-4 xl:grid-cols-5">
            {loop name="products_in_sale" type="product" limit="4" sale=$ID}
            <div class="relative rounded-lg break-words border bg-white border-gray-300 card-product">
                <div class="flex-auto p-4">
                    <div class="text-center relative flex justify-center">
                        {if $IS_PROMO}
                        <div class="absolute top-0 left-0">
                            <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded bg-red-600 text-white">{intl l="Sale" d="fo.electro"}</span>
                        </div>
                        {/if}
                        <a href="{$URL}"><img src="{$IMAGE_URL}" alt="{$TITLE}" class="w-full h-auto" /></a>
                        <div class="absolute w-full bottom-[15%] opacity-0 invisible card-product-action">
                            <a href="#!"
                                class="h-[34px] w-[34px] leading-[34px] bg-white shadow inline-flex items-center justify-center rounded-lg hover:bg-green-600 hover:text-white"
                                data-bs-toggle="tooltip" data-bs-html="true" title="{intl l="Quick View" d="fo.electro"}">
                                <span data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-eye" width="16" height="16"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                        <path
                                            d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                    </svg>
                                </span>
                            </a>
                            <a href="#!"
                                class="h-[34px] w-[34px] leading-[34px] bg-white shadow inline-flex items-center justify-center rounded-lg hover:bg-green-600 hover:text-white"
                                data-bs-toggle="tooltip" data-bs-html="true" title="{intl l="Wishlist" d="fo.electro"}">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-heart" width="16" height="16"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                </svg>
                            </a>
                            <a href="#!"
                                class="h-[34px] w-[34px] leading-[34px] bg-white shadow inline-flex items-center justify-center rounded-lg hover:bg-green-600 hover:text-white"
                                data-bs-toggle="tooltip" data-bs-html="true" title="{intl l="Compare" d="fo.electro"}">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-arrows-exchange" width="16" height="16"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M7 10h14l-4 -4" />
                                    <path d="M17 14h-14l4 4" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-3">
                        <a href="{viewurl view="category" category_id=$DEFAULT_CATEGORY_ID}" class="text-decoration-none text-gray-500"><small>{$CATEGORY_TITLE}</small></a>
                        <div class="flex flex-col gap-2">
                            <h3 class="text-base truncate"><a href="{$URL}">{$TITLE}</a></h3>
                            <div class="flex items-center">
                                <div class="flex flex-row gap-3">
                                    <small class="text-yellow-500 flex items-center">
                                        {* Star ratings, simplified *}
                                        {for $i=1 to 5}
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-star-filled" width="14"
                                            height="14" viewBox="0 0 24 24" stroke-width="2"
                                            stroke="currentColor" fill="none" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z"
                                                stroke-width="0" fill="currentColor" />
                                        </svg>
                                        {/for}
                                    </small>
                                    <div class="flex flex-row gap-1">
                                        <span class="text-gray-500 text-sm">4.5</span>
                                        <span class="text-gray-500 text-sm">(149)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-between items-center">
                            <div>
                                <span class="text-gray-900 font-semibold">${$PRICE}</span>
                                {if $IS_PROMO}
                                <span class="line-through text-gray-500">${$ORIGINAL_PRICE}</span>
                                {/if}
                            </div>
                            <div>
                                {form name="thelia.cart.add"}
                                {url path="/cart/add" assign="cart_add_url"}
                                <form id="form-product-details{$ID}" action="{$cart_add_url}" method="post" class="form-product">
                                    {form_hidden_fields}
                                    <input type="hidden" name="view" value="product">
                                    <input type="hidden" name="product_id" value="{$ID}">
                                    {form_field field="append"}
                                    <input type="hidden" name="{$name}" value="1">
                                    {/form_field}
                                    {form_field field='product_sale_elements_id'}
                                    <input type="hidden" class="pse-id" name="{$name}" value="{$PRODUCT_SALE_ELEMENT}" {$attr}>
                                    {/form_field}
                                    {form_field field="product"}
                                    <input id="{$label_attr.for}" type="hidden" name="{$name}" value="{$ID}" {$attr}>
                                    {/form_field}
                                    {form_field field='quantity'}
                                    <input type="hidden" name="{$name}" value="1">
                                    {/form_field}
                                    <button type="button" data-product-id="{$ID}"
                                        class="add-to-cart-btn btn inline-flex items-center gap-x-1 bg-green-600 text-white border-green-600 disabled:opacity-50 disabled:pointer-events-none hover:text-white hover:bg-green-700 hover:border-green-700 active:bg-green-700 active:border-green-700 focus:outline-none focus:ring-4 focus:ring-green-300 btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-plus" width="14" height="14"
                                            viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M12 5l0 14" />
                                            <path d="M5 12l14 0" />
                                        </svg>
                                        <span>{intl l="Add" d="fo.electro"}</span>
                                    </button>
                                </form>
                                {/form}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/loop}
        </div>
    </div>
</section>
{/loop}
{/ifloop}
{elseloop rel="current-sales"}
{ifloop rel="product_promo"}
<section class="mt-8">
    <div class="container">
        <div class="flex flex-wrap">
            <div class="w-full mb-6">
                <h2 class="text-lg">{intl l="Offers" d="hookproductsoffer.fo.default"} <a href="{url path="/view_all" type="offers"}" class="btn-all">{intl l="+ View All" d="hookproductsoffer.fo.default"}</a></h2>
            </div>
        </div>
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:gap-4 xl:grid-cols-5">
            {loop name="product_promo" type="product" limit="6" promo="yes"}
                    {include file="includes/single-product.html" product_id=$ID hasBtn=true hasDescription=false width="218" height="146"}
            {/loop}
        </div>
    </div>
</section>

{/ifloop}
{/elseloop}
