
  <section class="py-5 overflow-hidden">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

          <div class="section-header d-flex flex-wrap flex-wrap justify-content-between mb-5">

            <h2 class="section-title">{intl l="Newly Arrived"} {intl l="Brands"}</h2>

            <div class="d-flex align-items-center">
              <a href="#" class="btn-link text-decoration-none">{intl l="View All"} {intl l="Brands"} →</a>
              <div class="swiper-buttons">
                <button class="swiper-prev brand-carousel-prev btn btn-yellow">❮</button>
                <button class="swiper-next brand-carousel-next btn btn-yellow">❯</button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="brand-carousel swiper">
            <div class="swiper-wrapper">
              {loop type="brand" name="brand.home-body"}
              <div class="swiper-slide">
                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                  <div class="row g-0">
                    <div class="col-md-4">
                      {loop name="brand.image" type="image" source="brand" id={$LOGO_IMAGE_ID} }
                      <img src="{$IMAGE_URL nofilter}" class="img-fluid rounded" alt="{$TITLE}">
                      {/loop}
                    </div>
                    <div class="col-md-8">
                      <div class="card-body py-0">
                        <p class="text-muted mb-0">{$TITLE}</p>
                        <h5 class="card-title">{$DESCRIPTION}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {/loop}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>