{ifloop rel="blog.articles"}
<ul class="list-unstyled d-flex flex-column gap-3 mb-0">
    {loop type="content" name="blog.articles" folder=$bodyFolderId limit=3}
    <li>
        <a href="{$URL}" class="text-decoration-none text-inherit">
            <h4 class="h6 mb-1">{$TITLE}</h4>
            <p class="mb-0 small text-muted">{$CHAPO}</p>
        </a>
    </li>
    {/loop}
</ul>
{/ifloop}
{elseloop rel="blog.articles"}
<ul class="list-unstyled mb-0">
    <li class="text-muted">{intl l="No articles currently" d="hooknavigation.fo.default"}</li>
</ul>
{/elseloop}

