<li class="nav-item">
  <a href="{navigate to="index"}" class="nav-link">{intl l="Home" d="hooknavigation.fo.default"}</a>
</li>
{loop type="category" name="category.navigation" parent="0" need_count_child="yes"}
{if $CHILD_COUNT > 0}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" role="button" id="pages" data-bs-toggle="dropdown"
    aria-expanded="false">{$TITLE}</a>
  <ul class="dropdown-menu" aria-labelledby="pages">
    {loop type="category" name="sub-cat" parent="{$ID}"}
    <li><a href="{$URL}" class="dropdown-item">{$TITLE}</a></li>
    {/loop}
  </ul>
</li>
{else}
<li class="nav-item">
  <a href="{$URL}" class="nav-link">{$TITLE}</a>
</li>
{/if}
{/loop}