{loop type="auth" name="customer_info_block" role="CUSTOMER"}
<div class="support-box text-end d-none d-xl-block">
    <span class="fs-6 text-muted"><a href="{url path="/logout"}" class="logout">{intl l="Log out!" d="hookcustomer.fo.default"}</a></span>
    <h5 class="mb-0"></h5>
</div>
<div class="support-box text-end d-none d-xl-block">
    <span class="fs-6 text-muted"><a href="{url path="/account"}" class="account">{intl l="My Account" d="hookcustomer.fo.default"}</a></span>
    <h5 class="mb-0"></h5>
</div>
{/loop}
{elseloop rel="customer_info_block"}
<div class="support-box text-end d-none d-xl-block">
    <span class="fs-6 text-muted"><a href="{url path="/register"}" class="register">{intl l="Register!" d="hookcustomer.fo.default"}</a></span>
    <h5 class="mb-0"></h5>
</div>

<ul class="d-flex justify-content-end list-unstyled m-0">
    {hook name="main.navbar-secondary-right-icon"}
</ul>
{/elseloop}