<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
    <div class="offcanvas-header justify-content-center">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="order-md-last">
            {ifloop rel="cartloop"}

            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">{intl l="Cart" d="hookcart.fo.default"}</span>
                <span class="badge bg-primary rounded-pill">3</span>
            </h4>
            <form id="form-cart-mini" action="{url path="/order/delivery"}" method="post">

            <ul class="list-group mb-3">

                {assign "total_price" 0}
                {loop type="cart" name="cartloop"}

                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">{$TITLE}</h6>
                        <small class="text-body-secondary"><a href="{token_url path="/cart/delete/$ITEM_ID"}" class="btn btn-remove" data-tip="tooltip" data-title="Delete" data-original-title=""><i class="fa fa-trash"></i> <span>{intl l="Remove" d="hookcart.fo.default"}</span></a></small>
                    </div>

                    {if $IS_PROMO == 1}
                        {assign "real_price" $PROMO_TAXED_PRICE}
                        {assign "real_total_price" $TOTAL_PROMO_TAXED_PRICE}
                    {else}
                        {assign "real_price" $TAXED_PRICE}
                        {assign "real_total_price" $TOTAL_TAXED_PRICE}
                    {/if}
                    <span class="text-body-secondary">{$QUANTITY} X {format_money number=$real_price}</span>
                    {assign "total_price" $total_price + $real_total_price}
                </li>
                {/loop}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total</span>
                    <strong>{format_money number=$total_price}</strong>
                </li>
            </ul>
            <a href="{url path="/cart"}" role="button" class="w-100 btn btn-primary btn-lg"><i class="fa fa-eye"></i> {intl l="View Cart" d="hookcart.fo.default"}</a>
            <a href="{url path="/order/delivery"}" role="button" class="w-100 btn btn-primary btn-lg"><i class="fa fa-chevron-right"></i> {intl l="Checkout" d="hookcart.fo.default"}</a>
                            
            {* <button class="w-100 btn btn-primary btn-lg" type="submit">{intl l="Checkout" d="hookcart.fo.default"}</button> *}
            </form>
            {/ifloop}
            {elseloop rel="cartloop"}
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">{intl l="Cart" d="hookcart.fo.default"}</span>
                <span class="badge bg-primary rounded-pill">0</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">{intl l="You have no items in your shopping cart." d="hookcart.fo.default"}</h6>
                    </div>
                </li>
            </ul>
            {/elseloop}

        </div>
    </div>
</div>
